.DS_Store
classes/*
bin/*
javadoc/*
classifiers/*
dist/*
javadoc
classifiers
LV_CRF.zip
/balanseetais.txt
.settings*
*sublime-project
*sublime-workspace
ner_train_comparison.txt
lib/junit*.jar
lib/morphology.jar
models/.release-*
/bin/
/target/
.idea/
morphomodel/*.ser.gz
morphomodel/target
tagger.iml